header{
  background: white;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

main{
  background: white;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
}

h1{
  text-align: center;
  color: #1c446c;
  font-family: Verdana, sans-serif;
}

p{
  color: #3d8cc6;
  font-family: Verdana, sans-serif;
}

.special {
 font-size: 20px;
 color: #1c446c;
 font-family: Verdana, sans-serif;
}

img{
  width: 350px;
  float: right;
}

html{
  background: #ebbc0b;
}

#output {
  columns: 10em auto;
}

#output p {
  margin-top: 0;
  margin-bottom: 0;
  color: #db4747;
  font-family: Verdana, sans-serif;
}
