header{
  background: #D9DBF1;
  padding: 20px;
  max-width: 650px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

main{
  background: #D9DBF1;
  padding: 20px;
  max-width: 650px;
  margin: auto;
  border-radius: 20px;
}

img{
  width: 450px;
  float: right;
}

h1{
  text-align: center;
}

p{
  color: #424874;
}

div{
  color: #424874;
}

html{
  background: black;
}
