header{
  padding: 2px;
  max-width: 650px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 20px;
  border-style: solid;
  border-color: gray;
}

h1{
  text-align: center;
  color: white;
  font-family: Chalkduster, fantasy;
  font-size: 45px;
}

p{
  text-align: center;
  color: grey;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 15px;
}

.special {
  text-align: center;
  font-size: 20px;
  color: silver;
  font-family: "Chalkduster", "fantasy";
}

img{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html{
  background: black;
}

#output_1 {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  color: white;
}

#output_2 {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  color: white;
}

body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}
