h1 {
   color: #7D84B2;
   font-size: 250%;
   margin-left: 20px;
}

p {
   color: #C08497;
   font-size: 180%;
   text-indent: 30px;
   margin-left: 20px;
}

div {
    border-style: dashed;
    border-color: #B0D0D3
}
